name: Build ESPHome firmware

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: ESPHome Builder
        uses: esphome/build-action@v7.1.0
        with:
          yaml-file: esphome/m5stack-atom-echo-bcfaf0--verde.yaml
          version: 2025.12.7
          platform: linux/amd64
          complete-manifest: false

      - name: Upload firmware artifact
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: .esphome/build/*.bin
